.loginButton  {
    padding: 1em, 2em, 1em, 2em;
    flex: content;
    flex-direction: row;
}

.navigator{
    position: relative;
    top: 20px;
    left: 0;
    height: 95%;
}


.icon {
    width: 2em;
    height: 2em;
    margin: 1em;
}